.main {
  border: 1px solid red;
  flex-basis: 100%;
}

.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
  padding: 2rem;
  margin: 3rem;
  border: 1px solid goldenrod;
}

